      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      :root {
          --primary-bg: #f7f7ef;
          --primary-txt: #343331;
          --primary-accent: #ef5659;
          --primary-hover-accent: #AF3029;
          --header-font: 'Playfair Display', serif;
          --main-font: 'JetBrains Mono', monospace;
      }

      body,
      html {
          font-family: var(--main-font);
          background-color: var(--primary-bg);
          color: var(--primary-txt);
          scroll-behavior: smooth;

      }

      h1,
      h2 {
          font-family: var(--header-font);
          font-weight: 300;
          text-transform: lowercase;
          color: var(--primary-accent)
      }

      h3 {
          font-weight: 400;
          color: var(--primary-accent)
      }

      .section {
          min-height: 100vh;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 50px 20px;
      }


      .container {
          width: 100%;
          max-width: 1100px;
          margin: 0 auto;
          padding-top: 6px;
      }

      /* Header Styles */
      .header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 50px;
          z-index: 1000;
          background-color: var(--primary-bg);
      }

      .logo {
          font-size: 1rem;
          font-weight: bold;
      }

      nav a {
          color: var(--primary-accent);
          text-decoration: none;
          margin-left: 20px;
          transition: color 0.3s ease;
      }

      nav a:hover {
          color: var(--primary-hover-accent);
      }

      /* Hero */
      .hero {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 50px;
      }

      .hero-image {
          width: 300px;
          height: 300px;
          border-radius: 50%;
          object-fit: cover;
      }

      .hero-content a {
          color: var(--primary-accent);
          text-decoration: none;
          font-style: italic;
      }

      .heroname {
          color: var(--primary-txt);
          font-style: italic;
      }

      .hero-content a:hover {
          color: var(--primary-hover-accent);
      }

      .hero-content h1 {
          font-size: 5rem;
          margin-bottom: 20px;
          font-family: var(--header-font)
      }

      .hero-content h3 {
          margin-bottom: 20px;
      }



      /* About Section */
      .aboutme {
          display: flex;
          justify-content: space-around;
      }

      .about {
          text-align: left;
          width: 40%;
      }

      .about h3 {
          margin-bottom: 15px;
      }

      /* Recent Projects Section */
      .recent-projects {
          display: flex;
          justify-content: space-between;
          margin-top: 0px;
          flex-wrap: wrap;
          gap: 2rem;
      }

      .project-card {
          flex: 0 0 calc(30% - 1rem);
          display: flex;
          flex-direction: column;
          margin-bottom: 2rem;
      }

      .project-image {
          width: 100%;
          height: auto;
          margin-bottom: 1rem;
          border-radius: 8px;
      }

      .project-title {
          text-align: center;
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
      }

      .project-description {
          text-align: center;
          margin-bottom: 1.3rem;
          flex-grow: 1;
      }

      .button-container {
          text-align: center;
          margin-top: auto;
      }

      .project-button {
          display: inline-block;
          background-color: var(--primary-accent);
          color: white;
          text-decoration: none;
          padding: 0.65rem 2rem;
          border-radius: 4px;
          font-weight: 500;
          transition: all 0.3s ease;
      }

      .project-button:hover {
          background-color: var(--primary-hover-accent);
          transform: translateY(-2px);
      }


      /* Contact Section */

      .contactme {
          margin-top: 0px;
      }

      .social-links {
          margin-top: 50px;
          text-align: right;
      }

      .social-links a {
          font-size: 3rem;
          margin: 0px 50px;
          color: var(--primary-accent);
          transition: 0.3s;
      }

      .social-links a:hover {
          color: var(--primary-hover-accent);
      }


      /* Footer */

      footer p {
          text-align: center;
          font-size: 0.8rem;
          padding-bottom: 20px;
      }